<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings>
	<add name="WalletsCryptoDbServerConnectionString" connectionString="Server=18.220.143.12;Initial Catalog=V2StagingDb2;Integrated Security=False;User ID=sa;Password=dbT8r33P@55" providerName="System.Data.SqlClient"/>
</connectionStrings>

<appSettings>
</appSettings>
</configuration>